body {
  background-color: #f2f8fd;
  margin: 0 auto;
}

.header-container {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 3em;
  text-align: left;
}

.renders-container {
}

.renders-header {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 3em;
  text-align: left;
}

.renders-subheader {
  font-size: 1.1rem;
  text-align: center;
}

.renders-item-container {
  text-align: center;
}
